---
layout: htmlpage
title: Case Studies
permalink: /casestudies/
---

<div class="container pad-me">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h2>The Journey Program Case Studies</h2>
      <p class="lead">We've helped over 30 companies transform their operations.</p>
    </div>
  </div>
  <div class="row">
    {% for post in site.posts limit:6 %}
      {% if post.casestudy %}
        <div class="col-md-6 space-me">
          <div class="panel panel-default panel-case-study">
            <div class="panel-heading" style="background: url('{{ post.image }}'); background-size: cover;">

            </div>
            <div class="panel-body">
              <h3>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              </h3>
              <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

<section id="bottomcta">
  <div class="container">
    <div class="row space-me">
      <div class="col-md-5 col-md-offset-2">
        <h3>Ready to start your Journey?</h3>
        <p class="">Get started with a free assessment of your current tolerance.</p>
      </div>
      <div class="col-md-3 text-center">
        <a href="/signup" class="btn btn-lg btn-success">Big Friendly Button!</a>
      </div>
    </div>
  </div>
</section>
