---
layout: htmlpage
title: Help Yourself
subtitle: Help Yourself to the Journey Program
permalink: /helpyourself/
nav: main
bodyid: helpyourself
---

<section id="help-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-10 text-center">
        <h1>{{ page.subtitle }}</h1>
        <p class="lead">A series of publicly available articles articles and resources designed to help you understand risk in your organisation.</p>
        <hr />
        <div class="panel panel-default">
          <div class="panel-body">
            <h2>Predict your organisation's liklihood of an incident</h2>
          </div>
          <div class="panel-footer">
            <p>This quick assessment provides a high level overview of your organisation's character profiles accross different aspects of the business.</p>
            <p class="text-center"><a href="/profile/" class="btn btn-jp-inverse">Analyse your organisational character</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="row">
    {% for post in site.posts limit:2 offset:1 %}

      <div class="col-md-6 space-me">
        <div class="panel panel-default panel-case-study">
          <div class="panel-heading" style="background: url('{{ post.image }}'); background-size: cover;">

          </div>
          <div class="panel-body">
            <h3>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h3>
            <p>{{ post.description }}</p>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
          </div>
        </div>
      </div>

    {% endfor %}
  </div>
</div>


{% include bottomcta.html %}
