---
layout: htmlpage
bodyid: home
---

<section id="hero">
  <div class="container">
    <div class="row pad-top">
      <div class="col-md-offset-1 col-md-10 text-center">
        <h1>Embrace a new philosophy</h1>
        <p>We think different when it comes to safety. Journey Program companies report fewer incidents, spend less on safety, and enjoy better workplace culture.</p>
        <br />
        <p><a href="/tolerance/" class="btn btn-jp-inverse">Start by testing your risk tolerance</a></p>
        <img src="/img/company.png" />
      </div>
    </div>
  </div>
</section>

<div class="after-hero">
  <ul class="list-inline">
    <li><span class="label label-jp">NEWS</span></li>
    <li>Interpret the new DMP operational legislation.</li>
    <li><a href="/tolerance">Read more &nbsp; <i class="fa fa-arrow-right"></i></a></li>
  </ul>
</div>

<section id="about">
  <div class="container">
    <div class="row pad-bottom highlights">
      <div class="col-md-4">
        <img src="img/glass.jpg" alt="A glass blower working" />
        <p><strong>Less compliance, more culture</strong></p>
        <p>Safety performance is more than just compliance. Learn how to empower your staff and allow them to keep themselves and their colleagues safe. </p>
      </div>
      <div class="col-md-4">
        <img src="img/dryer.jpg" alt="An industrial dryer" />
        <p><strong>Bespoke standards and targets</strong></p>
        <p>There's no such thing as a one size fits all approach to safety. We've developed a product that delivers each company their own procedures and targets.</p>
      </div>
      <div class="col-md-4">
        <img src="img/gimbal.jpg" alt="A gimbal in motion" />
        <p><strong>Communicate with a common language</strong></p>
        <p>Reducing risk starts with communication. The Journey Program will help you speak in a language your whole company understands.</p>
      </div>

    </div>

    <div class="row">
      <div class="col-md-offset-2 col-md-8 text-center">
        <p><a href="/product" class="btn btn-jp-inverse smooth_scroll">Find out more</a></p>
      </div>
    </div>

  </div>
</section>

<section>
  <div class="container">
    <div class="row pad-me">

      <div class="col-md-6">
        <h2>Focused on performance, not just safety</h2>
        <hr />

        <p>The Journey Program is a novel approach to organisational safety management. The program is based on an organisation-wide philosophy of improving culture and leads to improved safety performance as a function of company success.</p>

        <p>Changing your company's culture results in a positive feedback loop. As your safety record improves, so does your overall performance; essentially we help every person in the company perform their job better. This iterates infinitely: The result is safe, efficient and effective workplaces.</p>

        <blockquote class="space-me">
          The Journey Program took us from being a XYZ kind of company to being a ABC kind of company in three months. Now we only kill someone once every blue moon. Astronomical Blue Moons happen either once every two to three years or so, depending on which of the two definitions you apply. So that's not too bad!
          <footer>
            Important person from Big Mine
          </footer>
        </blockquote>

        <br />

      </div>

      <div class="col-md-offset-1 col-md-5">

        <div class="panel panel-default panel-case-study">
          <div class="panel-heading">
            <img src="/img/dustyBoots.jpg" />
          </div>
          <div class="panel-body text-center">
            <p class="lead">See the Journey Program in action.</p>
            <a href="/casestudies" class="btn btn-success">View Case Study</a>
          </div>
        </div>

      </div>

    </div>
  </div>
</section>

<div class="clearfix">
  <div class="feature-photo fp-left"></div>
  <div class="feature-photo fp-right"></div>
</div>

<section id="marcus">
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-1 col-sm-10 pad-me-double">
        <div class="marcus-wrapper clearfix">
          <div class="photo">

          </div>
          <div class="info">
            <div>
              <h2>World Class Vision</h2>
              <p>Meet Marcus, Dr, Supreme Overlord of the safety injury. Marcus will change your life in ways you currently can't imagine. Just wait and see! Pommy ipsum ponce could be a bit of a git cornish pasty a reet bobbydazzler, numbskull clock round the earhole scally man and his whippet, getting on my wick off with her head a right royal knees up oopsy-daisies.</p>
              <p><a href="/marcus/">Read more about Dr Cattani &nbsp; <i class="fa fa-arrow-right"></i></a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="newsroll">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-6 text-center">

        <h2>Latest News</h2>
        <hr />
        <p class="lead">Keep up to date with the Journey Program</p>
      </div>
      <div class="row">

        {% for post in site.posts limit:6 %}
          <div class="col-md-4 space-me">
            <div class="panel panel-default panel-case-study">
              <div class="panel-heading" style="background: url('{{ post.image }}'); background-size: cover;">

              </div>
              <div class="panel-body">
                <h3>
                  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </h3>
                <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
              </div>
            </div>
          </div>
        {% endfor %}

      </div>
    </div>
  </div>
</section>

{% include bottomcta.html %}
