<section id="bottomcta">
  <div class="container">
    <div class="row space-me">
      <div class="col-md-5 col-md-offset-2">
        <h3>Ready to start your Journey?</h3>
        <p>Take the first step towards enjoying a safer, more productive workplace culture in your organisation.</p>
        <p>The Journey Program Beta is now open.</p>
      </div>
      <div class="col-md-3 text-center">
        <a href="/beta" class="btn btn-lg btn-jp-inverse">Join the Beta</a>
      </div>
    </div>
  </div>
</section>
