<footer class="site-footer">
  <div class="container pad-me">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h4>{{ site.title }}</h4>
        <ul class="list-inline small">
          <li><a href="/">Journey Program</a></li>
          <li>•</li>
          {% for page in site.pages %}
            {% if page.nav %}
              <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
              <li>•</li>
            {% endif %}
          {% endfor %}
        </ul>
        <p class="small">&copy; Dr Marcus Cattani, 2016 and beyond...</p>
      </div>
    </div>
  </div>
</footer>
