/* =========================
        Elements
========================= */
html,
body {
  min-height: 100%;
  font-size: 16px;
  line-height: 1.7rem;
}
hr {
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit;
}
/* =========================
        General Classes
========================= */

/* =========================
        Header
========================= */

/* =========================
        Homepage
========================= */

/* =========================
        Footer
========================= */
