/* =========================
        Elements
========================= */
html,
body {
  min-height: 100%;
  font-size: 16px;
  line-height: 1.7rem;
}
html {
  position: relative;
}
body {
  margin: 0; // Bottom margin set by jpscript.js for sticky footer!
}
blockquote {
  @extend .space-me;
  letter-spacing: 0px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  footer {
    text-align: right;
    padding-top: 1rem;
  }
}
h1, h2, h3, h4, h5, h6 {
  font-family: $headings-font-family;
}
h1 {
  font-weight: 300;
}
hr {
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit;
  border-color: rgb(218, 218, 218);
}
section {
  padding-top: $spacing-unit * 1.5;
  padding-bottom: $spacing-unit * 1.5;
}
img {
  @extend .space-me;
  width: 100%;
}
/* =========================
        General Classes
========================= */
.btn {
  transition: 0.4s ease;
  font-weight: 400;
  padding: 10px 30px;
  border-radius: 100px;
}
.btn-jp {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  &:hover {
    background: #fff;
    color: $brand-color;
  }
}
.btn-jp-inverse {
  background: $brand-color;
  border: 1px solid $brand-color;
  color: #fff;
  &:hover {
    background: #fff;
    color: $brand-color;
  }
}
.btn-outline {
  background: transparent;
  border: 1px solid $brand-color;
  color: $brand-color;
  transition: 0.4s ease;
  &:hover {
    color: #fff;
    background: $brand-color;
  }
}
.label-jp {
  background: $brand-color;
}
.pad-me {
  padding: $spacing-unit 0;
}
.pad-me-double {
  padding-top: $spacing-unit * 2;
  padding-bottom: $spacing-unit * 2;
}
.pad-top {
  padding-top: $spacing-unit;
}
.pad-bottom {
  padding-bottom: $spacing-unit;
}
.panel-case-study {
  transition: 0.4s ease;
  &:hover {
    border-color: $brand-color;
  }
  .panel-heading {
    min-height: 200px;
    padding: 0;
    img {
      margin: 0;
    }
  }
  .panel-body {
    padding-top: $spacing-unit;
    padding-bottom: $spacing-unit;
  }
}
.space-me {
  margin: $spacing-unit 0;
}
.space-me-double {
  margin-top: $spacing-unit * 2;
  margin-bottom: $spacing-unit * 2;
}
.white-bg {
  background: #fff;
}
/* =========================
        Header
========================= */
.navbar {
  margin-bottom: 0;
}
.navbar-default {
  background: #fff;
  border-color: $brand-color;
  .navbar-brand {
    color: $brand-color;
    font-size: 1.5rem;
    padding: 20px;
    img {
      display: inline-block;
      margin: -5px 0px 0px 10px;
      width: 100px;
    }
  }
  .navbar-nav {
    li {
      a {
        color: $brand-color;
        font-weight: 500;
        padding-top: 20px;
        padding-bottom: 20px;
      }
    }
    li:last-child {
      a {
        color: #fff;
        background-color: $brand-color;
        transition: 0.4s ease;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 10px;
        border-radius: 100px;
      }
    }
  }
}
/* =========================
        Homepage
========================= */
#hero {
  padding-bottom: 0;
  background: #29272a;
  color: #fff;
  p {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.1rem;
  }
  img {
    margin: 0px auto;
    max-width: 70%;
  }
}
.after-hero {
  padding: 15px;
  background: #fff;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  text-align: center;
  ul {
    margin: 0;
  }
}
#about {
  background: #fff;
  .panel-heading {
    text-align: center;
    background: #fff;
  }
  .panel-title {
    @extend .space-me;
    font-weight: bold;
  }
}
.feature-photo {
  width: 50%;
  float: left;
}
.fp-left {
  background: url('/img/mine.jpg') center;
  background-size: cover;
}
.fp-right {
  background: url('/img/dustyBoots.jpg') center;
  background-size: cover;
}
#marcus {
  background: #fff;
  .marcus-wrapper {
    width: 100%;
    background: #fff;
    border: 2px solid #ddd;
    display: flex;
    align-items: stretch;
    transition: 0.3s ease;
    &:hover {
      border-color: $brand-color;
    }
    .photo {
      float: left;
      margin-left: -1px;
      width: 40%;
      background: url('/img/marcuscropped.jpg') center;
      background-size: cover;
    }
    .info {
      padding: $spacing-unit;
      float: right;
      width: 60%;
    }
  }
}

// =========================
//      Product Page
// =========================
#product-hero {
  padding-top: $spacing-unit * 3;
  padding-bottom: $spacing-unit * 3;
  background: url('/img/product2.png') repeat-x;
  color: #fff;
  img {
    width: 300px;
  }
}
.product {
  .row {
    display: flex;
    align-items: center;
  }
}
.tags-list {
  list-style-type: none;
  margin-left: 0;
  li {
    font-size: 0.9rem;
    margin-bottom: 15px;
    padding: 10px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 15px;
    transition: 0.3s ease;
  }
  li:hover {
    text-decoration: none;
    border: 1px solid $brand-color;
  }
  i {
    margin-right: 6px;
    color: $brand-color;
  }
}
/* =========================
        Pages General
========================= */
iframe {
  width: 100%;
  height: 500px;
  border: 1px solid $brand-color;
  margin-bottom: $spacing-unit;
}
#bottomcta {
  @extend .white-bg;
  border-top: 1px solid #e0e0e0;
}
.sidenav-header {
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('/img/port.jpg') top;
  background-size: cover;
  padding-top: 150px;
  padding-bottom: 150px;
  color: #fff;
  text-shadow: 0 1px 5px rgba(0,0,0,0.55);
}
.sidenav-content {
  padding-bottom: $spacing-unit * 2;
  ul {
    margin: 0;
    padding: 0;
    width: 100%;
    color: $brand-color;
    border: 1px solid #ddd;
    border-bottom: 0px;
    background: #fff;
    margin-bottom: $spacing-unit;
  }
  li {
    list-style: none;
    padding: 0px;
    border-bottom: 1px solid #ddd;
    a {
      display: block;
      width: 100%;
      color: inherit;
      padding: 15px 15px 15px 20px;
      transition: 0.4s ease;
      &:hover {
        text-decoration: none;
      }
    }
    i {
      color: $brand-color;
      margin-top: 4px;
      padding-right: 10px;
      transition: 0.4s ease;
    }
    &:hover {
      border-color: $brand-color;
      i {
        padding: 0px;
      }
    }
  }

}
// ============================
//      Org profiles
// ============================
.quiz-container {
  background: #fff;
  width: 100%;
  margin: 1rem 0;
  border: 1px solid #ddd;
  padding: 25px;
}
.questions {
  margin-bottom: 1rem;
  padding: 15px;
  .corset {
    max-width: 600px;
    margin: 0px auto;
    // TODO - make this dry with the signup form
    .fields {
      padding-top: $spacing-unit / 2;
      div {
        margin-top: $spacing-unit / 2;
        margin-bottom: $spacing-unit / 2;
      }
    }
    label {
      min-width: 100px;
      margin-right: 15px;
    }
    input[type="email"],
    input[type="text"] {
      padding-left: 7px;
      width: 60%;
    }
    .helpers {
      margin-left: 115px;
      margin-bottom: 15px;
    }
  }
}
.intro-slide {
  p,
  img {
    margin-left: auto;
    margin-right: auto;
  }
  p {
    max-width: 600px;
  }
  img {
    max-width: 350px;
    margin-top: $spacing-unit / 2;
    margin-bottom: $spacing-unit / 2;
  }
}
.pagination-container {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.slick-disabled {
  visibility: hidden;
}
.slick-slide {
    outline: none
}
.radio {
  margin: 1rem 2rem;
}
.results {
  margin-top: $spacing-unit;
  display: flex;
  align-items: center;
  img {
    width: 100px;
    margin: 0px auto;
  }
}
.prev {
  margin-right: 3rem;
}

/* =========================
        Posts
========================= */
#tolerance-hero {
  padding-top: 250px;
  padding-bottom: 250px;
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('/img/carSlide.jpg') center;
  color: #fff;
  background-size: cover;
  .textbox {
    padding: $spacing-unit;
    background: rgba(0,0,0,0.4);
    color: #fff;
  }
}
#legislation-hero {
  @extend #tolerance-hero;
  background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('/img/binos.jpg') center;
  background-size: cover;
}
#glossary-hero {
  @extend #tolerance-hero;
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('/img/plant.jpg') center;
  background-size: cover;
}
#casestudy-hero {
  @extend #tolerance-hero;
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('/img/nightPort.jpg') center;
  background-size: cover;
}
/* =========================
        Help Yourself Page
========================= */
#help-hero {
  padding-top: 2 * $spacing-unit;
  p {
    margin: 1.8rem auto;
    max-width: 700px;
  }
  .panel-body {
    padding: 0px;
    height: 300px;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('/img/carSlide.jpg') center;
    background-size: cover;
    h2 {
      padding-top: 120px;
      padding-bottom: 120px;
      color: #fff;
      font-size: 1.8rem;
      margin: 10px;
      font-weight: 500;
    }
  }
  .panel-footer {
    background: #fff;
    padding: 30px 50px;
    text-align: left;
  }
}
/* =========================
        Sign Up Page
========================= */
#signup {
  .signup-panel {
    background: #fff;
    border: 1px solid $brand-color;
    border-radius: 5px;
    margin-top: $spacing-unit;
    padding: $spacing-unit;
    padding-bottom: $spacing-unit * 2;
    hr {
      margin-top: $spacing-unit * 2;
      margin-bottom: $spacing-unit * 2;
    }
    .fields {
      padding-top: $spacing-unit / 2;
      div {
        margin-top: $spacing-unit / 2;
        margin-bottom: $spacing-unit / 2;
      }
    }
    label {
      min-width: 100px;
      margin-right: 15px;
    }
    input[type="email"],
    input[type="text"] {
      padding-left: 7px;
      width: 60%;
    }
    .helpers {
      margin-left: 115px;
    }
  }
  i {
    color: $brand-color;
    width: 40px;
  }
}
/* =========================
        Footer
========================= */
footer.site-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: url('/img/herobg.png') repeat;
  color: #fff;
}
a {
  color: #f36256;
  &:hover {
    color: darken(#f36256, 10%);
  }
}
