<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="sidenav-header pad-me-double">
      <div class="container">
        <div class="row ">
          <div class="col-sm-12 text-center">
            <h1>About the Journey Program</h1>
          </div>
        </div>
      </div>
    </div>

    <div class="container sidenav-content pad-me">
      <div class="row">

        <div class="col-md-4">
          <ul>
            <li><a href="/about">Company <i class='fa fa-chevron-right pull-right'></i></a></li>
            <li><a href="/mission">Mission <i class='fa fa-chevron-right pull-right'></i></a></li>
            <li><a href="/marcus">Dr. Marcus Cattani <i class='fa fa-chevron-right pull-right'></i></a></li>
          </ul>
        </div>

        <div class="col-md-8">

          {{ content }}

        </div>


      </div>
    </div>

    {% include bottomcta.html %}

    {% include footer.html %}

  </body>

  <script src="/js/jquery-2.2.2.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/jpscripts.js"></script>


</html>
